
CarInsurance/CarInsurance/App_Data/Insurance.mdf
CarInsurance/CarInsurance/App_Data/Insurance_log.ldf
CarInsurance2/.vs/CarInsurance2/v16/.suo
CarInsurance2/.vs/CarInsurance2/v16/.suo
*.mdf
*.ldf
*.ldf
