@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>I just wanna say...</h2>
    <p>The current date and time in your area is @ViewData["Timestamp"]</p>
</div>
