@using CarInsurance.Models 
@model QuoteDetail



<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-left">
            <h2 class="m-0">Get an insurance quote today</h2>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("QuoteDetail", "Home", FormMethod.Post))
            {
            <div class="row no-gutters">
                <div class="form-group col-md-12">
                    <input name="FirstName" type="text" class="form-control" placeholder="First Name" />
                </div>
                <div class="form-group col-md-12">
                    <input name="LastName" type="text" class="form-control" placeholder="Last Name" />
                </div>
                <div class="form-group col-md-12">
                    <input name="EmailAddress" type="email" class="form-control" placeholder="Email Address" />
                </div>
                <div class="form-group col-md-12">
                    <input name="DateOfBirth" type="datetime" class="form-control" placeholder="Date of Birth" />
                </div>
                <div class="form-group col-md-12">
                    <input name="CarYear" type="number" class="form-control" placeholder="Car Year" />
                </div>
                <div class="form-group col-md-12">
                    <input name="Car Make" type="text" class="form-control" placeholder="Car Model" />
                </div>
                <div class="form-group col-md-12">
                    <p class="text-left">Have you ever had a DUI?</p>
                    <input name="DUI" type="checkbox" class="form-control" value="true" />
                </div>
                <div class="form-group col-md-12">
                    <p class="text-left">How many speeding tickets have you had?</p>
                    <input name="SpeedingTickets" type="number" class="form-control" placeholder="Speeding Ticket Count" />
                </div>
                <div class="form-group col-md-12">
                    <p class="text-left">Do you have full coverage?</p>
                    <input name="CoverageType" type="checkbox" class="form-control" value="true" />
                </div>
                <button type="submit" class="btn btn-primary">Calculate Quote</button>
            </div>
            }
        </div>
    </div>
</div>
